.deck {
  width: 10%;
  height: 10%;
}
.cardP {
  width: 12%;
  height: 12%;
}

.cardD{
  width: 12%;
  height: 12%;
}
body{
  background-color: #2e7d32;
  color: white;
  font-family: georgia;
}

.hideme{
  visibility:hidden
}
img{
  padding: 1px;
}
